---

 - name: VPC | Creating an AWS VPC inside mentioned Region
   local_action: 
     module: ec2_vpc
     region: "{{ vpc_region }}"
     state: present
     cidr_block: "{{ vpc_cidr_block }}"
     resource_tags: { "Name":"{{ vpc_name }}" }
     subnets: "{{ vpc_subnets }}" 
     internet_gateway: yes
     route_tables: "{{ public_subnet_rt }}"
   register: vpc

 - name: VPC | Write vpc id to file inside the vars directory
   shell: echo "{{ vpc.vpc_id }}" > "{{ vpc_name }}-vpc-info.yml"
   args:
     chdir: playbooks/aws/vars/

 - name: VPC | Write public and private subnets id to files inside the vars directory  
   shell: echo "{{ item.id }}" > "{{ item.resource_tags.Name }}.yml"
   args:
     chdir: playbooks/aws/vars/
   with_items: "{{ vpc.subnets }}"

 - name: VPC | Set the public and private subnet id as facts
   set_fact:
     vpc_id: "{{ lookup('file', 'aws/vars/' + vpc_name + '-vpc-info.yml') }}"
     public_subnet_1: "{{ lookup('file', 'aws/vars/' + vpc_name + '-' + public_az_1 + '-public-subnet.yml') }}"
     public_subnet_2: "{{ lookup('file', 'aws/vars/' + vpc_name + '-' + public_az_2 + '-public-subnet.yml') }}"
     private_subnet_1: "{{ lookup('file', 'aws/vars/' + vpc_name + '-' + private_az_1 + '-private-subnet.yml') }}"

 - name: Copy the NAT gateway awscli script to /aws/vars
   template: src=aws/templates/create-nat-gw.sh dest=./playbooks/aws/vars/create-nat-gw.sh mode=0755

 - name: Create NAT gateway by executing the awscli script
   shell: sh playbooks/aws/vars/create-nat-gw.sh

 - name: Modify private subnet route table
   ec2_vpc_route_table:
     vpc_id: '{{ vpc.vpc_id }}'
     region: '{{ vpc_region }}'
     subnets:
       - "{{ lookup('file', '/tmp/private-subnet') }}"
     routes:
       - dest: 0.0.0.0/0
         gateway_id: "{{ lookup('file', '/tmp/nat-gateway') }}"
