---
 # Variables for VPC
 vpc_name: VPCPRD
 vpc_region: us-east-1 
 vpc_cidr_block: 10.0.0.0/16
 public_cidr_1: 10.0.10.0/24
 public_az_1: "{{ vpc_region }}a"
 public_cidr_2: 10.0.20.0/24
 public_az_2: "{{ vpc_region }}b"
 private_cidr: 10.0.30.0/24
 private_az: "{{ vpc_region }}c"

 # Subnets Defination for VPC
 vpc_subnets:
   - cidr: "{{ public_cidr_1 }}" # Public Subnet-1
     az: "{{ public_az_1 }}"
     resource_tags: { "Name":"{{ vpc_name }}-{{ public_az_1 }}-public-subnet" }
   - cidr: "{{ public_cidr_2 }}" # Public Subnet-2
     az: "{{ public_az_2 }}"
     resource_tags: { "Name":"{{ vpc_name }}-{{ public_az_2 }}-public-subnet" }
   - cidr: "{{ private_cidr }}" # Private Subnet
     az: "{{ private_az }}"
     resource_tags: { "Name":"{{ vpc_name }}-{{ private_az }}-private-subnet" }

 # Route table(s) for Subnets inside the VPC
 #
 # Routing Table for Public Subnet
 public_subnet_rt:
   - subnets:
       - "{{ public_cidr_1 }}"
       - "{{ public_cidr_2 }}"
     routes:
       - dest: 0.0.0.0/0
         gw: igw
